h1 {
    color: grey;
    text-align: center;
    font-family: helvetica;
    font-size: 40px;
}

h2{
    font-family: helvetica;
}

h3{
  font-family: helvetica;
}

p {
    font-family: helvetica;
    font-size: 20px;
}

body {
font-family: helvetica;
}
